.square {
    background-color: white;
    border: lightgray solid .5px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: #bd0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0px auto;
    flex-wrap: wrap;
}

.title {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    color: #edc967;
    margin: 0;
    padding: 40px 0 40px 0;
}


#color {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;

}

.title1,
.title3 {
    font-size: 20px;
}

.title2 {
    font-size: 40px;
    font-weight: 900;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    color: #edc967;
    font-weight: 900;
    font-size: 25px;
    padding: 40px 0 10px 0;
}

button {
    color: #edc967;
    background-color: #bd0000;
    outline-color: #edc967;
    border-radius: 10px;
    border-color: #edc967;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 20px;
}

.circles {
    display: flex;
    justify-content: center;
    gap: 40%;
    margin: 20px 25% 0 25%;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid lightgrey;
    flex-shrink: 0;
}